* {margin: 0; padding: 0px;}

body {
    background-color: #37393A;
}

.m18 {
    margin: 18%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background-color: #77B6EA;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.mensagem {
    text-align: center;
    margin-top: 40%;
    font-size: xx-large;
}

.inspira {
    transition: transform 2s, border-width 1s linear;
    transform: scale(2.5);
    border-width: 10px;
    border: 15px solid rgb(226, 244, 255, 0.1);
}

.expira {
    transition: transform 2s, border-width 1s linear;
    transform: scale(1.2);
    border-width: 0px;
    border: 0px solid rgb(226, 244, 255, 0.1);
}

.owner, a {
    color: #F0F4EF;
    text-align: center;
    opacity: 0.4;
}

@media (max-width: 1000px)  {
    .circle {
        margin-top: 70%;
        width: 320px;
        height: 320px;
    }
    .mensagem {
        font-size: 5em;
    }
    .owner {
        margin-top: 40%;
        font-size: 3.0em;
    }
}
